@charset "UTF-8";
/* Login */
/* Navbar */
/* Common */
body * {
  font-family: 'Fira Sans', sans-serif; }

/* Theme Classes */
.login-background, #app.login, #app.login .container .blur-container .blur {
  background-image: linear-gradient(134.86deg, #0575E6 0%, #499DF1 100%), url(https://unsplash.it/g/1920/1080/?random);
  background-blend-mode: color; }

.center-center, #app.login {
  display: flex;
  align-items: center;
  justify-content: center; }

/* Common */
/* Navbar */
.navbar {
  max-height: 70px;
  background: #0676e6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0676e6 0%, #489cf0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0676e6 0%, #489cf0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0676e6 0%, #489cf0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar-start-color', endColorstr='$navbar-end-color', GradientType=1);
  /* IE6-9 */
  /* Navbar Header */
  /* Navbar Body */ }
  .navbar .navbar-header {
    height: 70px; }
    .navbar .navbar-header a {
      height: 70px;
      padding: 0;
      line-height: 70px; }
  .navbar #navbar {
    text-align: center; }
    .navbar #navbar .nav {
      display: inline-block;
      float: none;
      /*  Menus */
      /* User Dropdown */ }
      .navbar #navbar .nav:first-child li.active a {
        border-bottom: 5px solid #fff; }
      .navbar #navbar .nav:first-child li a {
        width: 200px;
        padding: 22px 0;
        font-size: 18px; }
      .navbar #navbar .nav.navbar-right .dropdown-toggle {
        padding: 24px; }
      .navbar #navbar .nav.navbar-right .dropdown-menu {
        width: 200px;
        margin-top: -15px; }
        .navbar #navbar .nav.navbar-right .dropdown-menu li.active a {
          background-color: #0575e6;
          background-image: none;
          color: #fff; }
        .navbar #navbar .nav.navbar-right .dropdown-menu li a {
          padding: 10px 20px;
          color: #3891eb;
          font-size: 16px; }
          .navbar #navbar .nav.navbar-right .dropdown-menu li a:hover {
            background-color: #0575e6;
            background-image: none;
            color: #fff; }

.title {
  color: #0575e6;
  border-left: 5px solid #0575e6;
  border-bottom: none; }

#pagination {
  display: flex;
  align-items: center; }
  #pagination span {
    flex: 1; }

.panel {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }

/* Modal */
.modal {
  /* Delete Modal */
  /* Header */
  /* Body */
  /* Footer */ }
  .modal#deleteModal .modal-dialog {
    width: 30%;
    /* Body */ }
    .modal#deleteModal .modal-dialog .modal-body #deleteInfo {
      color: #000; }
      .modal#deleteModal .modal-dialog .modal-body #deleteInfo .delete-name {
        color: #0575e6;
        font-weight: bold; }
  .modal .modal-header {
    border-bottom: none; }
    .modal .modal-header .close {
      opacity: .5; }
      .modal .modal-header .close:hover {
        opacity: 1; }
    .modal .modal-header .modal-title {
      margin-left: -15px;
      padding-left: 15px; }
  .modal .modal-body {
    padding-top: 0; }
    .modal .modal-body #form, .modal .modal-body #deleteInfo {
      padding-top: 10px;
      color: #0575e6;
      border-top: 1px solid #ddd; }
  .modal .modal-footer {
    border-top: none; }
    .modal .modal-footer .btn-default, .modal .modal-footer .btn-delete {
      box-shadow: none; }

.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 0;
  border: none; }
  .btn:hover {
    opacity: .8; }
  .btn.btn-default {
    background: transparent;
    opacity: .5;
    color: #f44336;
    box-shadow: none; }
    .btn.btn-default:hover {
      opacity: 1; }
  .btn.btn-primary {
    background-color: #0575e6; }
  .btn.btn-delete {
    color: #fff;
    background-color: #f44336; }

input[type=checkbox] {
  visibility: hidden; }

/* SQUARED ONE */
.squaredOne {
  position: relative;
  width: 18px;
  height: 18px;
  min-height: 18px !important;
  padding-left: 16px !important;
  background: #fcfff4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
  border: 1px solid #979797;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .squaredOne label {
    cursor: pointer;
    white-space: pre; }
    .squaredOne label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #0575e6;
      top: 4px;
      left: 4px; }
    .squaredOne label:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3; }
  .squaredOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; }

/* Element group */
.form-group label {
  color: #0575e6;
  font-size: 16px;
  font-weight: 500; }
.form-group input {
  border: 1px solid #979797;
  border-radius: 0; }
.form-group.has-error input.form-control {
  border: 1px solid #a94442; }

.nav-tabs {
  border: none; }
  .nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    color: #0575e6;
    opacity: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0575e6; }
  .nav-tabs li a {
    color: #0575e6;
    opacity: .5;
    background-color: transparent;
    border: none; }

/* Error */
.has-error.has-feedback {
  /* Error List */
  /* Error Icon */ }
  .has-error.has-feedback .errors {
    padding-left: 15px; }
    .has-error.has-feedback .errors li {
      color: #ef4836; }
  .has-error.has-feedback .form-control-feedback {
    top: 30px; }

/* Pages */
/* Login */
#app.login {
  height: 100vh;
  /* Body */ }
  #app.login .container {
    /* Blur Container */ }
    #app.login .container .blur-container {
      position: relative;
      /* Blur */
      /* Panel */ }
      #app.login .container .blur-container .blur {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        margin: 0 auto;
        background-attachment: fixed;
        filter: blur(5px); }
      #app.login .container .blur-container .panel {
        width: 50%;
        margin: 0 auto;
        padding-top: 10px;
        filter: opacity(92%);
        /* Panel Header */
        /* Panel Body */ }
        #app.login .container .blur-container .panel .panel-heading {
          margin: 0 15px 10px 0;
          padding: 0 0 0 15px;
          border-bottom: none;
          border-radius: 0;
          border-left: 5px solid #0575e6;
          color: #0575e6;
          font-size: 24px;
          font-weight: 300; }
        #app.login .container .blur-container .panel .panel-body {
          padding-top: 0;
          /* Form */ }
          #app.login .container .blur-container .panel .panel-body form {
            padding-top: 15px;
            border-top: 1px solid #ddd;
            /* Checkbox */
            /* Button */ }
            #app.login .container .blur-container .panel .panel-body form .checkbox label {
              color: #99c7f4;
              font-size: 14px;
              font-weight: 300;
              line-height: 16px; }
            #app.login .container .blur-container .panel .panel-body form a {
              padding: 0;
              color: #99c7f4;
              font-size: 14px;
              font-style: italic;
              font-weight: 300;
              text-decoration: underline; }
            #app.login .container .blur-container .panel .panel-body form button.btn {
              padding: 6px 30px; }

/* Table View */
#tableView {
  position: relative;
  /* View Header */
  /* Table Container */ }
  #tableView .header {
    padding: 10px 0;
    /* Title, Entries N┬║, Filter*/
    /* Title */
    /* Entries N┬║ */
    /* Filter */
    /* Actions */ }
    #tableView .header .page-header, #tableView .header .dataTables_length, #tableView .header .dataTables_filter {
      display: inline-block; }
    #tableView .header .page-header {
      margin: 0 50px 0 -15px;
      padding-bottom: 0;
      padding-left: 10px;
      color: #0575e6;
      font-size: 24px;
      font-weight: 300;
      line-height: 39px;
      border-left: 5px solid #0575e6;
      border-bottom: none; }
    #tableView .header .dataTables_length {
      vertical-align: middle; }
      #tableView .header .dataTables_length label {
        color: #0575e6;
        font-weight: bold; }
        #tableView .header .dataTables_length label select {
          margin: 0 5px;
          font-size: 16px;
          opacity: .5;
          border: none; }
    #tableView .header .dataTables_filter {
      float: right;
      line-height: 39px; }
      #tableView .header .dataTables_filter input {
        border: none; }
        #tableView .header .dataTables_filter input::placeholder {
          color: #ddd;
          font-size: 16px;
          font-style: italic;
          font-weight: 300;
          line-height: 19px;
          text-align: right;
          text-decoration: underline; }
      #tableView .header .dataTables_filter img {
        vertical-align: inherit; }
    #tableView .header #actions {
      margin-left: 20px; }
      #tableView .header #actions .btn-new {
        width: 72px;
        background-color: #0575e6;
        border-radius: 0;
        color: #fff;
        font-size: 16px;
        font-weight: bold; }
  #tableView .table-responsive {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    /* All Elements */
    /* Table Wrapper */ }
    #tableView .table-responsive * {
      border: none; }
    #tableView .table-responsive .dataTables_wrapper {
      /* Table */
      /* Info */
      /* Pagination */ }
      #tableView .table-responsive .dataTables_wrapper table {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        /* Header */
        /* Body */ }
        #tableView .table-responsive .dataTables_wrapper table thead {
          color: #0575e6;
          font-size: 16px;
          font-weight: 500; }
        #tableView .table-responsive .dataTables_wrapper table tbody tr.odd {
          background-color: #f3f3f3; }
        #tableView .table-responsive .dataTables_wrapper table tbody tr td img {
          cursor: pointer; }
          #tableView .table-responsive .dataTables_wrapper table tbody tr td img:last-child {
            margin-left: 20px; }
      #tableView .table-responsive .dataTables_wrapper .dataTables_info {
        color: #ddd;
        font-size: 16px;
        font-weight: 300; }
      #tableView .table-responsive .dataTables_wrapper .dataTables_paginate {
        /* Button Previous, Next */
        /* Page Button */ }
        #tableView .table-responsive .dataTables_wrapper .dataTables_paginate .previous, #tableView .table-responsive .dataTables_wrapper .dataTables_paginate .next {
          opacity: .5;
          color: #0575e6 !important;
          font-size: 16px;
          font-weight: 300; }
        #tableView .table-responsive .dataTables_wrapper .dataTables_paginate span .paginate_button {
          opacity: .5;
          color: #0575e6 !important;
          background: transparent; }
          #tableView .table-responsive .dataTables_wrapper .dataTables_paginate span .paginate_button.current {
            opacity: 1;
            color: #fff !important;
            background: #0575e6;
            border-radius: 0; }

/* Profile Container */
.panel-half {
  width: 50%;
  margin: 0 auto;
  /* Profile Content */ }
  .panel-half #profilePage .title {
    margin: 0 0 20px -15px;
    padding: 0 0 0 15px; }
  .panel-half #profilePage form {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    color: #0575e6; }

/*# sourceMappingURL=theme.css.map */
