/* Profile Container */
.panel-half {
  width: 50%;
  margin: 0 auto;

  /* Profile Content */
  #profilePage {
    .title {
      margin: 0 0 20px -15px;
      padding: 0 0 0 15px;
    }

    form {
      padding-top: 20px;

      border-top: 1px solid $separator;

      color: $text-color;
    }
  }
}