/* Table View */
#tableView {
  position: relative;

  /* View Header */
  .header {
    padding: 10px 0;

    /* Title, Entries Nº, Filter*/
    .page-header, .dataTables_length, .dataTables_filter {
      display: inline-block;
    }

    /* Title */
    .page-header {
      margin: 0 50px 0 -15px;

      padding-bottom: 0;
      padding-left: 10px;

      color: $text-color;
      font-size: 24px;
      font-weight: 300;
      line-height: 39px;

      border-left: 5px solid $text-color;
      border-bottom: none;
    }

    /* Entries Nº */
    .dataTables_length {
      vertical-align: middle;

      label {
        color: $text-color;
        font-weight: bold;

        select {
          margin: 0 5px;

          font-size: 16px;
          opacity: .5;

          border: none;
        }
      }
    }

    /* Filter */
    .dataTables_filter {
      float: right;

      line-height: 39px;

      input {
        border: none;

        &::placeholder {
          color: $separator;
          font-size: 16px;
          font-style: italic;
          font-weight: 300;
          line-height: 19px;
          text-align: right;
          text-decoration: underline;
        }
      }

      img {
        vertical-align: inherit;
      }
    }

    /* Actions */
    #actions {
      margin-left: 20px;

      .btn-new {
        width: 72px;

        background-color: $text-color;

        border-radius: 0;

        color: #fff;

        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  /* Table Container */
  .table-responsive {
    width: 100%;

    padding-top: 20px;

    border-top: 1px solid $separator;

    /* All Elements */
    & * {
      border: none;
    }

    /* Table Wrapper */
    .dataTables_wrapper {
      /* Table */
      table {
        padding-bottom: 10px;

        border-bottom: 1px solid $separator;

        /* Header */
        thead {
          color: $text-color;
          font-size: 16px;
          font-weight: 500;
        }

        /* Body */
        tbody {
          tr {
            &.odd {
              background-color: #f3f3f3;
            }

            td {
              img {
                cursor: pointer;

                &:last-child {
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }

      /* Info */
      .dataTables_info {
        color: $separator;
        font-size: 16px;
        font-weight: 300;
      }

      /* Pagination */
      .dataTables_paginate {
        /* Button Previous, Next */
        .previous, .next {
          opacity: .5;
          color: $text-color !important;
          font-size: 16px;
          font-weight: 300;
        }

        /* Page Button */
        span {
          .paginate_button {
            opacity: .5;
            color: $text-color !important;

            background: transparent;

            &.current {
              opacity: 1;
              color: #fff !important;

              background: $text-color;

              border-radius: 0;
            }
          }
        }
      }
    }
  }
}