.btn {
  font-size: 16px;
  font-weight: 500;

  border-radius: 0;
  border: none;

  &:hover {
    opacity: .8;
  }

  &.btn-default {
    background: transparent;

    opacity: .5;
    color: #f44336;

    box-shadow: none;

    &:hover {
      opacity: 1;
    }
  }

  &.btn-primary {
    background-color: $text-color;
  }

  &.btn-delete {
    color: #fff;

    background-color: #f44336;
  }
}