/* Element group */
.form-group {
  label {
    color: $text-color;

    font-size: 16px;
    font-weight: 500;
  }

  input {
    border: 1px solid $input-border;
    border-radius: 0;
  }

  &.has-error {
    input.form-control {
      border: 1px solid $input-error;
    }
  }
}