/* Error */
.has-error {
  &.has-feedback {
    /* Error List */
    .errors {
      padding-left: 15px;

      li {
        color: #ef4836;
      }
    }

    /* Error Icon */
    .form-control-feedback {
      top: 30px;
    }
  }
}