/* Modal */
.modal {
  /* Delete Modal */
  &#deleteModal {
    .modal-dialog {
      width: 30%;

      /* Body */
      .modal-body {
        #deleteInfo {
          color: #000;

          .delete-name {
            color: $text-color;

            font-weight: bold;
          }
        }
      }
    }
  }

  /* Header */
  .modal-header {
    border-bottom: none;

    .close {
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }

    .modal-title {
      margin-left: -15px;
      padding-left: 15px;
    }
  }

  /* Body */
  .modal-body {
    padding-top: 0;

    #form, #deleteInfo {
      padding-top: 10px;

      color: $text-color;

      border-top: 1px solid $separator;
    }
  }

  /* Footer */
  .modal-footer {
    border-top: none;

    .btn-default, .btn-delete {
      box-shadow: none;
    }
  }
}