/* Navbar */
.navbar {
  max-height: 70px;

  background: $navbar-start-color; /* Old browsers */
  background: -moz-linear-gradient(left, $navbar-start-color 0%, $navbar-end-color 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $navbar-start-color 0%, $navbar-end-color 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $navbar-start-color 0%, $navbar-end-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar-start-color', endColorstr='$navbar-end-color', GradientType=1); /* IE6-9 */

  /* Navbar Header */
  .navbar-header {
    height: 70px;

    a {
      height: 70px;

      padding: 0;

      line-height: 70px;
    }
  }

  /* Navbar Body */
  #navbar {
    text-align: center;

    .nav {
      display: inline-block;

      float: none;

      /*  Menus */
      &:first-child {
        li {
          &.active {
            a {
              border-bottom: 5px solid #fff;
            }
          }

          a {
            width: 200px;

            padding: 22px 0;

            font-size: 18px;
          }
        }
      }

      /* User Dropdown */
      &.navbar-right {
        .dropdown-toggle {
          padding: 24px;
        }

        .dropdown-menu {
          width: 200px;

          margin-top: -15px;

          li {
            &.active {
              a {
                background-color: $dropdown-menu-bckgrd-hover-color;
                background-image: none;

                color: #fff;
              }
            }

            a {
              padding: 10px 20px;

              color: $dropdown-menu-text-color;

              font-size: 16px;

              &:hover {
                background-color: $dropdown-menu-bckgrd-hover-color;
                background-image: none;

                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}