.nav-tabs {
  border: none;

  li {
    &.active {
      a, a:focus, a:hover {
        color: $text-color;

        opacity: 1;

        background-color: transparent;

        border: none;
        border-bottom: 1px solid $text-color;
      }
    }

    a {
      color: $text-color;

      opacity: .5;

      background-color: transparent;

      border: none;
    }
  }
}