/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background-color: #fff;
}

/*
 * Header
 */

.navbar {
    background-color: #4285f4;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

/* Brand */
.navbar .navbar-brand {
    margin-right: 48px;
    color: #fff;
}

.navbar .navbar-brand:hover {
    color: rgba(255, 255, 255, .7);
}

/* Menus */
#navbar .nav > li.active a {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 500;
}

/* User */
#navbar .nav > li > a {
    color: rgba(255, 255, 255, .7);
    background-color: transparent;
}

#navbar .nav > li > a:hover, #navbar .nav > li > a:focus {
    color: #fff;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
